.candidateContainer, .jobContainer {
    width:50%;    
}

.jobContainer{
    border: 1px solid rgba(0,0,0,.125);
    padding: 5px;
}

.candidateContainer {
    max-height:600px;    
    overflow-y: auto; 
    overflow-x: hidden;   
}

.avatar {
    width: 50px;
    display: inline;
    margin-right: 5px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

.btn-primary{
    background-color: #4FC0E8;
    border-color: #4FC0E8;  
}
