.navbar-layout {
    background-color: #4FC0E8;
    border-color: #4FC0E8;
    margin-bottom: 0;
}

.navbar-brand {
    color: #FFFFFF;
    font-size: 28px;
}

.navbar img{
    height: 50px;
    width: 50px;  
}